select {
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 10px;
  gap: 5px;
}

.item {
  
  text-align: left;
}

.menu__select {
  margin: 10px 0;
}

.menu__select__content {
  margin-top: 10px;
  display: flex;
  gap: 2px;
}

.menu__select__item {
  flex: 1 1 auto;
  text-align: center;
  gap: 2px;
  height: 40px;
}

.menu__common {
}

.menu__grid{
  margin-top: 10px;
  display: grid;
  grid: repeat(4, 20px) / 1fr 1fr;
}

.menu__recently {

}

.menu__recently__content{
  margin-top: 10px;
  overflow: auto;
  height: 100%;
}

.menu__recently__item{
  height: 10px;
  margin-bottom: 10px;
}



.menu__refresh {}

.menu__refresh__content{
  margin-top: 10px;
  display: flex;
  gap: 2px;
}

.menu__hr {
  width: 100%;
  border: 1px solid #b5afaf;
}